{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <p>Tom De Munter / Sara Vandesompele</p>
                <p>Tel Tom: <a href="tel:+32479630740">0479 63 07 40</a></p>
                <p>Tel Sara: <a href="tel:+32479506431">0479 50 64 31</a></p>
                <p><a href="mailto:tomdemunter@yahoo.com">tomdemunter@yahoo.com</a></p>
                <p><a href="mailto:saravandesompele@yahoo.com">saravandesompele@yahoo.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                {{ partial "google-maps-location.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}