{{ partial "global-header.html" . }}

<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
                <div class="portfolio-contant">
                <ul>
                  {{ range .Site.Data.fotos.all}}
                    <li>
                        <a class="gallery" href="{{ $.Site.BaseURL }}{{ .image }}">
                            <img src="{{ $.Site.BaseURL }}{{ .thumbnail}}" alt="">
                        </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>