<main>
    {{ partial "global-header.html" . }}

    <div id="informatie" class="only-tekst-pagina container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-12">
                <p>Het appartement is gelegen op de eerste verdieping en volledig gerenoveerd in 2017.</p>
                <p>Het beschikt over een zonneterras, met zicht op zee en de duinen. Het ligt vlak aan het strand en op
                    wandelafstand van d’Esplanade en het centrum van De Panne. Tram en bushalte liggen op minder dan 5
                    minuten wandelafstand.
                </p>
                <p>Het gebouw beschikt over een verwarmd binnenzwembad waarvan je gratis gebruik mag maken.
                </p>
                <p>Op het domein zijn er 2 petanque banen beschikbaar voor bewoners.
                </p>
                <p>Er is een ondergrondse parkeerplaats en fietsenberging beschikbaar.
                </p>
                <p>Het appartement biedt plaats aan 5 personen.<br/>
                    Huisdieren zijn niet toegestaan.<br/>
                    Verboden om binnen te roken.
                </p>

                <h1>Voorzieningen:</h1>
                <ul>
                    <li>Zonneterras met zonneluifel, voorzien van zitbank en tafel.</li>
                    <li>Living met digitale televisie (Netflix beschikbaar)</li>
                    <li>WIFI</li>
                    <li>zitbank en tafel met zitplaats voor 5 personen.</li>
                    <li>Volledig uitgeruste en moderne keuken. Voorzien van koelkast met diepvries, koffiezet,
                        waterkoker,
                    </li>
                    combi-oven en vaatwas. Bestek voorzien voor 12 personen.
                    <li>Slaapkamer 1 beschikt over een dubbel bed (180x200) met donsdeken, hoofdkussens ruime
                        kleerkast
                    </li>
                    <li>Slaapkamer 2 bestaat uit een stapelbed (90x200) voorzien van donsdekens, hoofdkussens en een
                        kleerkast
                    </li>
                    <li>Gang beschikt over een kast met uitklapbed (90x200), donsdeken en kussen zijn voorzien.</li>
                    <li>Badkamer bestaat uit een lavabo met spiegelkast, douche en wasmachine</li>
                    <li>Apart toilet</li>
                </ul>

                <h1>Beschikbaar:</h1>
                <ul>
                    <li>stofzuiger en poetsmateriaal</li>
                    <li>strijkplank en strijkijzer</li>
                    <li>droogrek</li>
                    <li>afvalverwerking in het gebouw</li>
                </ul>

            </div>
        </div>
    </div>
</main>