<!-- Slider Start -->
<section id="middle">
    <div class="full-width-container">
        <div class="row ">
            <div class="middle middle-info col-md-4">
                <div class="middle-text block text-center">
                    <h1 class="text-uppercase middle-logo middle-logo-info">INFO</h1>
                    <p>De klif is een gezellig, recent<br/>gerenoveerd appartement.</p>
                    <p>Een verwarmd binnenzwembad<br/>is slechts een van de vele troeven<br/>die dit appartment biedt.
                    </p>
                </div>
                <div class="middle-link block text-center">
                    <a href="{{ .Site.BaseURL }}informatie"> Lees meer &gt;</a>
                </div>
            </div>
            <div class="middle middle-waar col-md-4">
                <div class="middle-text block text-center">
                    <h1 class="text-uppercase middle-logo middle-logo-waar">WAAR</h1>
                    <p>Op wandelafstand van het<br/>centrum van De Panne</p>
                    <p>Dynastielaan 18<br/>
                        8660 De Panne<br/>
                        appartement 108</p>
                </div>
                <div class="middle-link block text-center">
                    <a href="{{ .Site.BaseURL }}locatie"> Lees meer &gt;</a>
                </div>
            </div>
            <div class="middle middle-beschikbaarheid col-md-4">
                <div class="middle-text block text-center">
                    <h1 class="text-uppercase middle-logo middle-logo-beschikbaarheid">BESCHIKBAARHEID</h1>
                    <p>Je kan ons altijd contacteren voor<br/>meer informatie</p>
                </div>
                <div class="middle-link block text-center">
                    <a href="{{ .Site.BaseURL }}contact">Contacteer ons &gt;</a>
                </div>
            </div>
        </div>
    </div>
</section>
