<main>
    {{ partial "global-header.html" . }}

    <div id="prijzen" class="container only-tekst-pagina">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-12 text-center">
                <h1>weekend</h1>

                125 euro

                <h1>week buiten seizoen</h1>

                250 euro

                <h1>krokusvakantie/paasvakantie/kerstvakantie</h1>

                350 euro per week

                <h1>begin juli / eind augustus</h1>

                500 euro per week

                <h1>11 juli tot 15 augustus</h1>

                550 euro
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-12 text-center">
                Alle kosten zijn inbegrepen in de vermelde prijzen
            </div>
        </div>
    </div>
</main>